.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #909193;
    margin-bottom: 2rem;
  }
  .icon {
    font-size: 1.5rem;
  }
  .card-container {
    transition: transform 0.3s ease-in-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }