/* Inventory/FilterBar.css */
.filter-bar-container {
    margin-top: 20px;
  }
  
  .filter-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-text h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .header-text p {
    margin: 0;
    color: #666;
  }
  
  .header-buttons {
    display: flex;
  }
  
  .header-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .header-button.update-inventory {
    background-color: #388e3c;
  }
  
  .header-button i {
    margin-right: 5px;
  }
  
  .filter-bar {
    display: flex;
    align-items: center;
    background-color: #f7fcf9;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
  }
  
  .filter-dropdown {
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font-size: 14px;
  }
  
  .filter-button {
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .filter-button.add-houk-service {
    background-color: #76c7c0;
  }
  
  .clear-button {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
  }
  
  .clear-button .fa-filter {
    margin-right: 5px;
  }
  